@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAvatarGroup-root > .MuiAvatar-root {
  width: 20px !important;
  height: 20px !important;
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.no-scrolll::-webkit-scrollbar {
  display: none;
}

.no-scrolll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
